<div class="container blog-detail">

  <p id="notice"><%= notice %></p>

  <div class="section-title">
    <h1>📝 トレーニング記録 詳細</h1>
  </div>

  <div class="blog-card">
    <p><strong>タイトル：</strong> <%= @blog.title %></p>
    <p><strong>時間：</strong> <%= @blog.start_time.strftime("%Y-%m-%d %H:%M") %></p>
    <p><strong>内容：</strong> <%= @blog.content %></p>
  </div>

  <div class="button-group">
    <%= link_to '編集する', edit_blog_path(@blog), class: "btn btn-edit" %>
    <%= link_to '一覧に戻る', blogs_path, class: "btn btn-back" %>
    <%= link_to '←トップページへ戻る', motivations_path, class: "btn btn-back" %>
  </div>

  <h3 class="sub-title">❤️ いいねしたユーザー</h3>
  <ul class="user-list">
    <% @blog.gooded_users.each do |user| %>
      <li><%= user.email %></li>
    <% end %>
  </ul>

</div>
