<div class="container">
  <div class="section-title">
    <h1>新規投稿</h1>
  </div>

  <%= form_for @motivation do |f| %>
    <div class="form-group">
      <%= f.label :contents, "投稿内容", class: "form-label" %>
      <%= f.text_area :contents, size: "50x3", class: "form-control" %>
    </div>

    <div class="button-container">
      <%= f.submit "投稿する", class: "btn btn-submit" %>
    </div>
  <% end %>

  <div class="button-container">
    <%= link_to "←トップページへ戻る", motivations_path, class: "btn btn-back" %>
  </div>
</div>
